#cached-thumbs {
}

#cached-thumbs tr {
   height: 100px;
}

table#cached-thumbs td.thumb-img {
   width: 75px;
   text-align: center;
   padding-right: 5px;
}

#cached-thumbs td.thumb-img > img {
   max-width: 75px;
   max-height: 75px;
}